/* CSS Document */
body {
	font-family: tahoma;
	font-size: 12px;
	margin-top: 0;
	background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	font-family: "Times New Roman", Times, serif; 
}

.myh {
	font-size:12px;
	color:#006600;
	font-weight:bold;
}

th {
  background-color: #999999;/*#6699CC;/*#FBC9C4;/*#6d5f50; /*#f37031;/*#999999;*/
}

td {
	vertical-align: top;
}

img {
	border: 0;
}

table {
	font-family: Tahoma;
	font-size: 12px;
	border-collapse: collapse;
	width: 100%; 
	border: 0;
}

table.tform {
	border: dashed #999999 1px;
	width: auto;
}

table.menu {
	background-color: #D1D3D4;/*#81D3EB;/*#f99d33; /*#C6DBEC;*/
}

table.submenu {
	background-color: #DDDDDD;
}

a {
	color: #3366CC;
	text-decoration: none;
}

a:hover {
/*	text-decoration: underline;*/
	border-top: 1px solid;
	border-bottom: 1px solid;
	background-color: #cccccc;
}

a, a:visited {
	color: #003366;
}

p {
	text-align: justified;
}

.code {
	font-family: "Courier New", Courier, monospace;
	direction: ltr;
	color: #2233aa;
}

.sootitr {
	border-collapse: collapse;
	border-top-color: #336600;
	border-left-color: #336600;
	border-right-color: #003366;
	border-bottom-color: #003366;
}

.fnote {
	font-size: 11px;
	color: #006;
}

span.snote {
	font-size: 11px;
	color: #808080;
}

textarea {
	width: 550px;
	height: 405px;
/*	direction: ltr; */
}

textarea.summary {
	width: 550px;
	height: 200px;
}